body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(234, 236, 238);
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: center;
  margin: 15px auto;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 5px;
}

select {
  display: block;
  margin: 0px auto 15px auto;
  padding: 5px 40px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgb(251, 240, 235);
  border: 1px inset rgb(173, 224, 249);
}

option {
  color: rgba(0, 0, 0, 0.8);
}

footer {
  text-align: center;
  font-size: 11px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  border-top: 1px dotted rgba(0, 0, 0, 0.8);
}

footer a {
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: #7c73e6;
}

.reset-link {
  display: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.clocks-app {
  width: 525px;
  margin: 30px auto;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 3px outset rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgb(173, 224, 248, 0.9);
}

.world-clocks {
  margin: 10px auto;
}

.clock {
  display: flex;
  justify-content: space-between;
}

.clock-left {
  padding: 20px;
}

.clock-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: right;
}

.city,
.time {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #000736;
  background: radial-gradient(
    circle farthest-corner at center center,
    #000736 0%,
    #585d7a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zone {
  font-size: 18px;
  font-weight: 450;
  letter-spacing: 1px;
}

.date,
.today,
.your-local {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.am-pm {
  position: relative;
  bottom: 13px;
  left: 3px;
  font-size: 14px;
  font-weight: 500;
}
